body {
    background-color: #F1F1F1 !important;
    font-family: "Helvetica Neue", Helvetica, Arial, monospace, sans-serif !important;
}

#login {
    margin: auto !important;
    width: 405px !important;
    background-color: white !important;
    padding-top: 30px !important;
}

#tutti {
    border-bottom: solid !important;
    width: 100% !important;
}

textarea {
    resize: none !important;
}

#welcome {
    position: absolute !important;
    top: 100px !important;
    left: 30px !important;
}

.login_button {
    position: absolute !important;
    top: 20px !important;
    right: 15px !important;
}

a.title {
    font-size: 16px !important;
}

a.title:link {
    text-decoration: none !important;
    color: black !important;
}

a.title:visited {
    color: black !important;
}

a.title:hover {
    text-decoration: underline !important;
}

a.order {
    color: black !important;
}

.detail {
    margin: auto !important;
    width: 960px !important;
}

.editor {
    margin: auto !important;
    width: 1080px !important;
}

.navbartop {
    padding-right: 50px !important;
    padding-left: 20px !important;
    background-color: #F04A26 !important;
}

.largejumbo {
    background-color: white !important;
    padding: 20px !important;
    position: fixed !important;
    margin-bottom: 20px !important;
    bottom: 0 !important;
    right: 20px !important;
    left: 20px !important;
    top: 70px !important;
}

.divtutti {
    overflow: auto !important;
    bottom: 20px !important;
    position: fixed !important;
    right: 20px !important;
    left: 20px !important;
    margin: 20px !important;
    top: 150px !important;
}

.reg {
    overflow: auto !important;
    position: fixed !important;
    right: 20px !important;
    left: 20px !important;
    margin: 20px !important;
    top: 145px !important;
    bottom: 20px !important;
}

p.navbar-text {
    color: white !important;
    font-size: 16px !important;
}

a.navbar-brand {
    color: white !important;
    font-size: 32px !important;
}

div.container-fluid {
    margin-top: 70px !important;
    margin-bottom: 30px !important;
}

p.navbar-center {
    position: absolute !important;
    width: 100% !important;
    text-align: center !important;
    margin-top: 7px !important;
    font-size: 26px !important;
    z-index: -1 !important;
}

p.navbar-title {
    font-size: 20px !important;
    padding: 0 !important;
    margin: 0 !important;
    margin-top: 12px !important;
}

.whitejumbo {
    background-color: white !important;
}

th {
    font-size: 20px !important;
}

.pagenav {
    text-align: center !important;
}

#dropdownMenu1 {
    margin: 5px !important;
}

#modajax1 {
    position: fixed !important;
    overflow: auto !important;
    margin: 0 !important;
    top: 120px !important;
    bottom: 20px !important;
    left: 20px !important;
    width: 48.5% !important;
    padding: 5px !important;
}

#modajax2 {
    position: fixed !important;
    overflow: auto !important;
    margin: 0 !important;
    top: 120px !important;
    bottom: 20px !important;
    right: 20px !important;
    width: 48.5% !important;
    padding: 30px !important;
}

td.mod {
    vertical-align: top !important;
}

.nobordi {
    border: none !important;
}

#tablemod {
    position: fixed !important;
    margin: 0 !important;
    padding: 0 !important;
    top: 60px !important;
    left: 20px !important;
}
