{% extends "base.html" %}
{% block head %}
    <title>{{ document.titolo }}</title>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-fixed-top  navbartop">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'form:index' %}">
                    <b>Compilazione Moduli Online</b></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <p class="navbar-text navbar-title">{{ document.titolo }}</p>
                <a href="{% url 'form:index' %}"><button type="button" class="btn btn-default navbar-btn navbar-right">
                    Torna ai documenti</button></a>
            </div>
        </nav>
        
        <div class="detail">
            <form action="{% url 'form:detail' document.id %}" class="form-inline" method="post">
                {% csrf_token %}
                <div class="jumbotron whitejumbo">
                    {{ document.content|safe }}
                </div>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'form:edit' document.id %}"><button type="button" class="btn btn-warning btn-lg">
                        <span class="glyphicon glyphicon-edit"></span> Modifica</button></a>
                {% else %}
                    <button type="submit" class="btn btn-success btn-lg">
                        Invia <span class="glyphicon glyphicon-send"></span></button>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
